.Menu-link--proyectos{
  color: var(--azul);
}

/* Galería principal */
.Gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 2rem;
  padding: 0rem 6rem 6rem 6rem;
  margin-top: 4em;
}

/* Proyecto individual */
.Project {
  border-radius: 10px;
  transition: transform 0.2s ease;
  position: relative;
  cursor: pointer;
}

/* Contenedor de imagen */
.Project-card {
  position: relative;
  z-index: 0;
}

.Project:hover{
  transform: scale(1.03);
}

/* Imagen */
.Project-img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

/* Overlay con nombre del proyecto */
.Project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000fdab; /* fondo oscuro con transparencia */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 1em;
  z-index: 1;
}

.Project:hover .Project-overlay {
  opacity: 1;
 
}



/* Media Queries */


@media only screen and (max-width: 768px) {
.Gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;
  gap: 2rem;
  padding: 0rem 6rem 6rem 6rem;
  margin-top: 4em;
}
}

@media only screen and (max-width: 600px) {
.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 5em 5em 5em;

}
}
