.Menu-link--lab{
  color: var(--azul);
}

/* Intro */
.Lab {
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 4em;
}

.Lab-info {
  margin: 0.2rem 0;
}

.Lab-logo {
  width: 10%;
  margin-bottom: 4em;
}

/* Galería estilo Masonry */
.Gallery {
  column-count: 2;           /* Dos columnas en desktop */
  column-gap: 4em;          /* Espacio entre columnas */
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 8em 6em 8em;
}

/* Cada proyecto se trata como un bloque inline */
.Project {
  display: inline-block;
  width: 100%;               /* Ocupa todo el ancho de la columna */
  margin-bottom: 4em;       /* Espacio entre proyectos */
}

.Project img {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilo para el enlace de Instagram */
.Link {
  display: inline-block;
  text-decoration: none;
  margin: 1rem 0;
  color: var(--txt-dark);
  cursor: pointer;
}

.Link:hover {
  color: var(--azul);
}

/* Responsive: una sola columna en móvil */
@media (max-width: 768px) {
  .Gallery {
    column-count: 1;
    padding: 2em;
  }

  .Lab-logo {
  width: 30%;
  margin-bottom: 2em;
}

  .Lab {
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}
}


