/* Intro */
.Lab {
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 10em;
}


.Lab-info {
  margin: 0.2rem 0;
}

.Lab-logo {
  margin-top: 1rem;
  max-width: 80px;
}

/* Galería */
.Gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}


.Project {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}


.Link{
  display: inline-block;
  padding: 0.7em 1.5em;
  text-decoration: none;
  margin: 1rem 0;
  color: var(--txt-dark);
  cursor: pointer;
}

.Link:hover{
  color: var(--azul);
}

