.Project{
  padding: 1em 12em 6em 12em;
}

.Project-tags {
  padding: 0.8em 0 0.8em 0;
}

.Project-tags span {
 border: solid 1px var(--azul);
  border-radius: 20px;
  padding: 0.3em 0.8em;
  font-size: 0.85em;
  color: var(--azul);  
}
.Buttons{
  padding: 0em 1em 0 1em;
  position: sticky;
  top: 0;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  color: var(--txt-dark);
  padding: 0.7em 1.5em;
  text-decoration: none;
  margin: 1rem 0;
  cursor: pointer;
}

.Button:hover{
  color: var(--azul);
}

.Link{
  cursor: pointer;
  display: inline-block;
  padding: 0.7em 1.5em;
  background: #eee;
  text-decoration: none;
  margin: 1rem 0;
  color: var(--txt-dark);
}

.Project-description p{
  margin-top: 2em;
}


.Project-gallery{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 3em;
}

.Project-gallery img{
  width: 100%;
}

.Project-gallery video{

  border: solid 1px var(--txt-dark);
  width: 100%;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
.Project{
  padding: 1em 4em 2em 4em;
}
}